<div class="col-md-12" itemscop itemtype="http://schema.org/Place">
    <page-header title="venue details" back="true"></page-header>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" itemprop="name">{{venue.fields.name}}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Address</h4>
                <a class="btn btn-default pull-right pull-up" href="http://maps.google.com/maps?q={{venue.fields.address}}"><span class="glyphicon glyphicon-map-marker"></span> Map</a>
                <p class="list-group-item-text"><a href="http://maps.google.com/maps?q={{venue.fields.address}}" itemprop="name">{{venue.fields.address}}</a></p>
                <!-- <p><a ui-sref="root.zones.view({ id: venue.zone.pk })"><span class="badge" style="background-color: #{{venue.zone.fields.colourCode}}">{{venue.zone.fields.name}}</span></a></p> -->
                <p><span class="badge" style="background-color: #{{venue.zone.fields.colourCode}}">{{venue.zone.fields.name}}</span></p>
            </li>
            <li class="list-group-item" ng-if="venue.fields.photo && venue.fields.photo !== ''" style="padding:0;text-align: center;">
                <img src="http://brixtondesignweek.com/{{venue.fields.photo}}" itemprop="image">
            </li>
            <li class="list-group-item" ng-show="venue.fields.description && venue.fields.description !== ''">
                <p itemprop="description">{{venue.fields.description}}</p>
            </li>
            <li class="list-group-item" ng-if="venue.fields.link && venue.fields.link !== ''">
                <p style="margin:0"><a href="{{venue.fields.link}}" target="_blank" itemprop="url">{{venue.fields.link}}</a></p><span ng-hide="true" itemprop="url">{{pageUrl}}</span>
            </li>
        </ul>
    </div>

    <div class="panel panel-default" ng-show="events.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Events at this venue</h3>
        </div>
        <div class="list-group">
            <span ng-repeat="event in events" itemprop="event" itemscope itemtype="http://schema.org/Event">
                <a ui-sref="root.events.view({ id: event.pk })" class="list-group-item" itemprop="url">
                    <span itemprop="name">{{event.fields.name}}</span>
                </a>
            </span>
        </div>
    </div>
</div>
