<div class="col-md-12">
    <page-header title="events" back="true"></page-header>

    <div class="list-group">
        <a ng-repeat="event in events | orderBy:event.start" ui-sref="root.events.view({ id: event.pk })" class="list-group-item">
            <h4 class="list-group-item-heading">{{event.fields.name}}</h4>
            <!-- <p class="list-group-item-text">{{event.fields.description}}</p> -->
            <p class="pull-right pull-up">{{event.fields.startStr}} - {{event.fields.endStr}}</p>

        </a>
    </div>
</div>