<div class="col-md-12" itemscope itemtype="http://schema.org/Event">
    <page-header title="event details" back="true"></page-header>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" itemprop="name">{{evt.fields.name}}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-show="evt.fields.description && evt.fields.description !== ''">
                <p itemprop="description">{{evt.fields.description}}</p>
            </li>
            <li class="list-group-item" ng-if="evt.fields.link && evt.fields.link !== ''">
                <p style="margin:0"><a href="{{evt.fields.link}}" target="_blank" itemprop="url">{{evt.fields.link}}</a></p>
            </li><span itemprop="url" ng-hide="true">{{pageUrl}}</span>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <!-- <h4 class="list-group-item-heading">Details</h4> -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Venue</label>
                        <div class="col-xs-9" itemprop="location" itemscope itemtype="http://schema.org/Place">
                            <a ui-sref="root.venues.view({ id: venue.pk })" class="btn btn-default btn-wide" itemprop="url">{{venue.fields.name}} <span class="glyphicon glyphicon-chevron-right pull-right"></span> </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">From</label>
                        <div class="col-xs-9">
                        <p class="control-label">{{evt.fields.startStr}}</p><span ng-hide="true" itemprop="startDate">{{evt.fields.start}}</span><span ng-hide="true" itemprop="doorTime">{{evt.fields.start}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">To</label>
                        <div class="col-xs-9">
                        <p class="control-label">{{evt.fields.endStr}}</p><span ng-hide="true" itemprop="endDate">{{evt.fields.end}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">&nbsp;</label>
                        <div class="col-xs-9">
                        <button ng-click="dlIcal()" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span> Add to Calendar</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <div class="panel panel-default" ng-show="artists.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Designers at this event</h3>
        </div>
        <div class="list-group">
            <span ng-repeat="artist in artists" itemprop="performer" itemscope itemtype="http://schema.org/Person">
                <a ui-sref="root.artists.view({ id: artist.pk })" class="list-group-item" itemprop="url">
                    <span itemprop="name">{{artist.fields.name}}</span>
                </a>
            </span>
        </div>
    </div>
</div>
