<div class="col-md-12">
    <page-header title="search"></page-header>
    <!-- <div class="input-group"> -->
        <input type="text" ng-model="searchText" class="form-control" placeholder="Search for events, venues, artists or artwork">
        <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span> -->
    <!-- </div> -->
    <div ng-show="fEvents.length > 0 && searchText != ''">
        <div class="panel panel-default">
            <div class="panel-heading">Events</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="event in fEvents = (events | filter:searchText | orderBy:event.start)"><a ui-sref="root.events.view({ id: event.pk })">{{event.fields.name}}</a></li>
            </ul>
        </div>
    </div>
    <div ng-show="fVenues.length > 0 && searchText != ''">
        <div class="panel panel-default">
            <div class="panel-heading">Venues</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="venue in fVenues = (venues | filter:searchText | orderBy:venue.name)"><a ui-sref="root.venue.view({ id: venue.pk })">{{venue.fields.name}}</a></li>
            </ul>
        </div>
    </div>
    <div ng-show="fArtists.length > 0 && searchText != ''">
        <div class="panel panel-default">
            <div class="panel-heading">Artists</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="artist in fArtists = (artists | filter:searchText | orderBy:artist.name)"><a ui-sref="root.artists.view({ id: artist.pk })">{{artist.fields.name}}</a></li>
            </ul>
        </div>
    </div>
    <div ng-show="fArtworks.length > 0 && searchText != ''">
        <div class="panel panel-default">
            <div class="panel-heading">Art</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="artwork in fArtworks = (artworks | filter:searchText | orderBy:artwork.name)"><a ui-sref="root.artists.view.art({ id: artist.pk, art_id: artwork.pk })">{{artwork.fields.name}}</a></li>
            </ul>
        </div>
    </div>
    <div ng-show="fZones.length > 0 && searchText != ''">
        <div class="panel panel-default">
            <div class="panel-heading">Zones</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="zone in fZones = (zones | filter:searchText | orderBy:zone.name)"><a ui-sref="root.artists.view({ id: artist.pk })">{{zone.fields.name}}</a></li>
            </ul>
        </div>
    </div>
</div>
