<div class="col-md-12">
    <page-header title="designer details" back="true"></page-header>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{artist.fields.name}}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-show="artist.fields.photo && artist.fields.photo !== ''">
                <img src="http://brixtondesignweek.com/{{artist.fields.photo}}">
            </li>
            <li class="list-group-item" ng-show="artist.fields.description && artist.fields.description !== ''">
                <p>{{artist.fields.description}}</p>
            </li>
            <li class="list-group-item" ng-show="artist.fields.link && artist.fields.link !== ''">
                <p><a href="{{artist.fields.link}}" target="_blank">{{artist.fields.link}}</a></p>
            </li>
        </ul>
    </div>

    <div class="panel panel-default" ng-show="events.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Events with this designer</h3>
        </div>
        <div class="list-group">
            <a ng-repeat="event in events" ui-sref="root.events.view({ id: event.pk })" class="list-group-item">
                {{event.fields.name}}
            </a>
        </div>
    </div>

</div>

