<page-header title="Brixton Design Week 2014"></page-header>
<div class="row" style="padding:10px;">
    <div class="col-xs-4">
        <img src="http://brixtondesignweek.com/bdw-logo.gif" style="max-width:100%"><br><br>
        <img src="http://brixtondesignweek.com/ldf-logo.jpg" style="max-width:100%">
    </div>
    <div class="col-xs-8">
        <img src="http://brixtondesignweek.com/{{homepage.fields.daily_image}}" style="max-width:100%"><br><br>
        <img src="http://brixtondesignweek.com/{{homepage.fields.sponsor_image}}" style="max-width:100%" ng-show="homepage.fields.sponsor_image && homepage.fields.sponsor_image !== ''">
        <p ng-show="homepage.fields.sponsor_text && homepage.fields.sponsor_text !== ''">{{homepage.fields.sponsor_text}}</p>
    </div>
</div>
<div class="row" style="padding:10px;">
    <div class="col-xs-12">
    <hr>
        <h2>About</h2>
        <p>{{homepage.fields.description}}</p>
    </div>
</div>